<!--
 * @since: 2020-10-24 12:04:02
 * @LastAuthor: Blue
 * @lastTime: 2020-11-29 18:25:21
 * @FilePath: /A6001888506312/html/group_order_list_frm.html
-->
<!-- 模型frm -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-flex.css" />
    <link rel="stylesheet" type="text/css" href="../ali_icon/iconfont.css" />
</head>

<body>
    <div id="minirefresh" class="minirefresh-wrap">
        <div class="minirefresh-scroll">
    <div id="app">
        <!-- 中间页 -->
        <div class="aui-content">
            <!-- 什么都没有 -->
            <div v-if="haveNoData" class="aui-col-xs-12 aui-text-center" style="margin-top:30%;">
                <img src="../image/no_content.png" style="width:18%;margin:0 auto;">
                <h5 style="margin-top:1rem;" class="aui-font-size-14">Oh. Aquí no hay nada.</h5>
            </div>
            <!-- 订单列表 -->
            <div v-else class="aui-padded-5 aui-bg-white aui-margin-t-10" v-for="(order,key) in list" :key="key" @click="goOrderDetail(order);">
                <!-- 时间和状态 -->
                <div class="aui-padded-5 aui-font-size-12">
                    <span v-text="order.create_time"></span>
                    <span class="aui-pull-right aui-text-info">{{order | orderStatus}}</span>
                </div>
                <div class=" aui-padded-l-5 aui-padded-r-5 aui-bg-white">
                    <!-- 商品列表 -->
                    <ul class="aui-list aui-media-list" style="background-image:none;">
                        <li class="aui-list-item aui-margin-b-5 aui-bg-default" v-for="(goods,index) in order.order_goods_info" :key="index" style="background-image:none;">
                            <div class="aui-media-list-item-inner">
                                <!-- 商品缩略图 -->
                                <div class="aui-list-item-media">
                                    <img :src="goods.thum">
                                </div>
                                <div class="aui-list-item-inner">
                                    <!-- 商品名称 -->
                                    <div class="aui-list-item-text">
                                        <div class="aui-list-item-title aui-ellipsis-2 aui-font-size-14" style="width:70%;" v-text="goods.name"></div>
                                        <div class="aui-list-item-righ aui-text-price">
                                            <span style="font-size: 0.5rem; ">$</span>
                                            <span class="aui-font-size-14 " v-text="goods.real_price "></span>
                                        </div>
                                    </div>
                                    <!-- 原价 -->
                                    <div class="aui-list-item-text" v-if="order.market_activity_id != 0">
                                        <div class="aui-list-item-title aui-ellipsis-2 aui-font-size-14" style="width:70%;"></div>
                                        <div class="aui-list-item-righ" style="text-decoration: line-through;">
                                            <span style="font-size: 0.4rem; ">$</span>
                                            <span class="aui-font-size-12 " v-text="goods.sell_price"></span>
                                        </div>
                                    </div>

                                    <!-- 规格加数量 -->
                                    <div class="aui-list-item-text aui-text-pray aui-margin-t-5">
                                        <div class="aui-list-item-title aui-font-size-12 aui-text-pray" style="width:70%;">
                                            <span v-if="goods.spec_group_id != 0" v-text="'Especificaciones: '+ goods.spec_group_info"></span>
                                        </div>
                                        <div class="aui-list-item-righ aui-text-pray">
                                            <span class="aui-padded-5" v-text=" 'x ' + goods.num "></span>
                                        </div>
                                    </div>
                                    <!-- 评价 -->
                                    <!-- <div class="aui-list-item-text aui-margin-t-5">
                                        <div class="aui-list-item-title aui-text-pray aui-font-size-12 " style="width:70%;"></div>
                                        <div class="aui-list-item-right " style="width:30%;" @click.stop="goComment(goods)" v-if="order.status == 4 && goods.is_comment == 0 && goods.return_goods_status != 3 && goods.return_goods_status != 1">
                                            <div class="order-buttons aui-text-right">
                                                <div class="mini-button aui-font-size-10">评价</div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- 退款 针对已付款和已发货的订单 -->
                                    <div class="aui-list-item-text aui-margin-t-10">
                                        <div class="aui-list-item-title aui-text-pray aui-font-size-12 " style="width:70%;"></div>
                                        <!-- <div class="aui-list-item-right" style="width:30%;" @click.stop="refund(goods)" v-if="(order.status == 2 || order.status == 3) && goods.return_goods_status == 0">
                                            <div class="order-buttons aui-text-right">
                                                <div class="mini-button aui-font-size-10">退款</div>
                                            </div>
                                        </div>
                                        <div class="aui-list-item-right aui-text-right" style="width:30%;" @click.stop="refund(goods)" v-if="goods.return_goods_status == 1">退款申请中</div>
                                        <div class="aui-list-item-right aui-text-right" style="width:30%;" v-else-if="goods.return_goods_status == 2">退款已拒绝</div>
                                        <div class="aui-list-item-right aui-text-right" style="width:30%;" v-else-if="goods.return_goods_status == 3">退款成功</div> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 小计 -->
                <div class="aui-padded-t-10 aui-padded-b-10 aui-text-right aui-bg-white aui-font-size-12 " style="width: 100%; ">
                    Total
                    <span v-text="order.order_goods_info.length "></span> Productos Total:
                    <span class="aui-text-price " style="font-size: 0.5rem; ">$</span>
                    <span class="aui-text-price aui-font-size-14 " v-text="order.total_money "></span>
                </div>
                <!-- 按钮组 -->
                <div class="order-buttons aui-padded-b-5 ">
                    <div class="button active " @click.stop="pay(order)" v-if="order.status==1 ">Pagar</div>
                    <div class="button " @click.stop="cancel(order)" v-if="order.status==1 ">Cancelar</div>
                    <div class="button " @click.stop="remind(order)" v-if="order.status==2 && order.group_buy_status == 3" style="width:7rem;">Enviar un recordatorio</div>
                    <div class="button " @click.stop="shareGroupGoods(order)" v-if="order.status==2 && order.group_buy_status == 1 ">Compartir</div>
                    <div class="button active " @click.stop="finish(order)" v-if="order.status==3 ">Confirmen la recepción</div>
                    <div class="button " @click.stop="goLogistics(order)" v-if="order.status==3 ">Logística</div>
                </div>
            </div>
        </div>
    </div>
      </div>
    </div>

</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/util.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/fastclick.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);
    var cancelOrderButtons = ['No quiero comprarlo', 'Error al llenar la información', 'Falta de mercadería', 'Otras razones'];
    // 滚动到底部的事件
    var page = 1;
    var app = {}
    var data = {};
    apiready = function() {
        $util.fixPage();
        if (api.pageParam.status == 1 || api.pageParam.status == 2 || api.pageParam.status == 3) {
            // 待付款 待发货 待签收
            data.status = api.pageParam.status;
        } else if (api.pageParam.status == -1) {
            // 售后订单
            data.is_has_return_goods = 1;
        } else if (api.pageParam.status == 4) {
            // 待评价订单
            data.status = 4;
            data.is_comment = 0;
        }
        app = new Vue({
            el: '#app',
            data: {
                haveNoData: false,
                list: [],
                group_shop_type: 2, // 1为系统拼团模式，2为会员拼团模式
                share_url: '',
            },
            methods: {
                // 分享拼团商品
                shareGroupGoods: function(order) {
                    var that = this;
                    var goods_id = order.group_buy_goods_id;
                    // 查询当前团购商品数据ID
                    $util.ajax({
                        url: 'api_query/group_buy_goods/goods_info',
                        data: {
                            group_buy_type: that.group_shop_type,
                            goods_id: goods_id
                        },
                        isLoading: true,
                    }).then(function(resp){
                      $util.ajax({
                          url: 'api_systems/Params/getParams',
                          data: {
                              type: "basic",
                          }
                      }).then(function(resp) {
                        var id = resp.data.id;
                        // that.share_url = $util.origin + '/wap/index/group_goods_detail.html?goodsId=' + goods_id + '&id=' + id;
                        that.share_url=resp.data.app_url;
                        api.openFrame({
                            name: 'group_order_list_share_frm',
                            url: './group_order_list_share_frm.html',
                            rect: {
                                x: 0,
                                y: api.winHeight / 2,
                                w: api.winWidth,
                                h: 'auto',
                                marginBottom: 0,
                            },
                            pageParam: {
                                share_url: that.share_url
                            },
                            animation: {
                                type: "movein", //动画类型（详见动画类型常量）
                                subType: "from_bottom", //动画子类型（详见动画子类型常量）
                                duration: 300
                            },
                            bounces: false,
                            bgColor: '#fff',
                            vScrollBarEnabled: false,
                            hScrollBarEnabled: false
                        });
                      });
                    })
                },
                // 查看订单详情
                goOrderDetail: function(order) {
                    $util.openWindow('group_order_detail_win', {
                        orderId: order.id
                    });
                },
                //评论
                goComment: function(goods) {
                    $util.openWindow('comment_add_win', {
                        goods: goods,
                    });
                },
                //查看物流
                goLogistics: function(order) {
                    $util.openWindow('logistics_win', {
                        order: order
                    });
                },
                // 取消订单
                cancel: function(order) {
                    var that = this
                    api.actionSheet({
                        title: 'Por favor,seleccione la causa de la cancelación',
                        cancelTitle: 'Cancelar',
                        buttons: cancelOrderButtons,
                    }, function(ret, err) {
                        if (ret) {
                            if (ret.buttonIndex == 5) {} else if (ret.buttonIndex == 4) {
                                api.prompt({
                                    title: 'Introduzca otra razón',
                                    buttons: ['Confirmar', 'Cancelar']
                                }, function(ret, err) {
                                    if (ret) {
                                        if (ret.buttonIndex == 2) {
                                            that.doCancel(order, ret.text);
                                        }
                                    } else {
                                        alert(JSON.stringify(err));
                                    }
                                });

                            } else {
                                that.doCancel(order, cancelOrderButtons[ret.buttonIndex - 1])
                            }
                        } else {
                            alert(JSON.stringify(err));
                        }
                    });
                },
                // 执行取消订单
                doCancel: function(order, reason) {
                    $util.ajax({
                        url: 'api_orders/cancel_orders/user_cancel',
                        data: {
                            order_id: order.id,
                            cancel_reason: reason
                        },
                    }).then(function(resp) {
                        $util.toast(resp.msg);
                        order.status = 9;
                    }).catch(function(err) {})
                },
                //付款
                pay: function(order) {
                    $util.ajax({
                        url: 'api_orders/pay/pre_pay',
                        data: {
                            order_id: order.id
                        },
                    }).then(function(resp) {
                        $util.openWindow('group_pay_select_win', {
                            order_no: order.order_no,
                            total_money: order.total_money,
                        });
                    }).catch(function(err) {})
                },
                //提醒发货
                remind: function(order) {
                    $util.ajax({
                        url: 'api_orders/tip_deliver/tip',
                        data: {
                            order_id: order.id
                        },
                    }).then(function(resp) {
                        $util.toast(resp.msg)
                    }).catch(function(err) {})
                },
                // 确认收货
                finish: function(order) {
                    api.confirm({
                        title: 'Confirmen la recepción?',
                        buttons: ['Confirmar', 'Cancelar']
                    }, function(ret, err) {
                        if (ret.buttonIndex == 1) {
                            $util.ajax({
                                url: 'api_orders/sign_orders/user_sign',
                                data: {
                                    order_id: order.id
                                },
                            }).then(function(resp) {
                                $util.toast(resp.msg);
                                order.status = 4;
                            }).catch(function(err) {})
                        }
                    });
                },
                getData: function() {
                    var that = this;

                    $util.ajax({
                        url: 'api_group_buy/orders/lists',
                        headers: {
                            'page-num': page,
                            'page-limit': 10
                        },
                        data: data,
                    }).then(function(resp) {

                        that.list = that.list.concat(resp.data).unique();
                        that.haveNoData = !Boolean(that.list.length)
                    }).catch(function(err) {})
                    page++;
                },
            },
            mounted: function() {
                this.getData();
            },
            filters: {
                orderStatus: function(order) {
                    var str = '';
                    if (order.status == 1) {
                        str += 'Esperando el pago';
                    } else if (order.status == 2 && order.group_buy_status == 1) {
                        str += 'Formando';
                    } else if (order.group_buy_status == 2 || order.group_buy_status == 4) {
                        str += 'El Grupo fracasó(Reembolso en curso)';
                    } else if (order.group_buy_status == 5) {
                        str += 'El Grupo fracasó(Reembolsado)';
                    } else if (order.status == 2 && order.group_buy_status == 3) {
                        str += 'Por entregar';
                    } else if (order.status == 3 && order.group_buy_status == 3) {
                        str += 'Mercancías entregadas';
                    } else if (order.status == 4 && order.group_buy_status == 3) {
                        str += 'El pedido está realizado';
                    } else if (order.status == 9) {
                        str += 'Orden cancelada';
                    }
                    return str;
                }
            },
        });

        api.setRefreshHeaderInfo({
            bgColor: '#eee',
            textColor: '#333',
        }, function(ret, err) {
            page = 1;
            app.list = [];
            app.getData()
        });api.addEventListener({
            name: 'setRefreshHeaderInfo',
        }, function(ret, err) {
            page = 1;
            app.list = [];
            app.getData()
        });

        // 滑动到底部事件
        api.addEventListener({
            name: 'scrolltobottom'
        }, function(ret, err) {
            app.getData()
        });
        // 更新订单事件
        api.addEventListener({
            name: 'updateOrder'
        }, function(ret, err) {
            page = 1;
            app.list = [];
            app.getData()
        });
    };
</script>

</html>
