<!-- 模型frm -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-flex.css" />
    <link rel="stylesheet" type="text/css" href="../ali_icon/iconfont.css" />
    <style media="screen">
        .b-disabled {
            background: #696969 !important;
        }
    </style>
</head>

<body>
    <div id="minirefresh" class="minirefresh-wrap">
        <div class="minirefresh-scroll">
    <div id="app">
        <!-- 中间页 -->
        <div class="aui-content aui-text-center">
            <img :src="params.wap_login_logo" style="width:65%;margin:2.5rem auto 0 auto;margin-bottom: 2rem;">
            <div class="area">
                <div class="mix">
                    <i class="aui-iconfont aui-icon-mobile"></i>
                    <input type="text" class="input short" pattern="[0-9]*" placeholder="Nuevo número" v-model="mobile">
                    <!-- <div class="get-varicode" :class="{'b-disabled': (time != 90)}" tapmode onclick="app.sendVaricode(2)">{{message}}</div> -->
                </div>

                <!-- <div class="mix">
                    <i class="aui-iconfont aui-icon-lock"></i>
                    <input type="text" class="input" v-model="varicode" pattern="[0-9]*" placeholder="Introducir código de verificación">
                </div> -->
                <div class="submit" tapmode onclick="app.doBind()" v-text="title">Cambiar</div>
            </div>
        </div>
    </div>
      </div>
    </div>

</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/util.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/fastclick.js"></script>
<script type="text/javascript">
    var app = {};
    apiready = function() {
        $util.fixPage();
        app = new Vue({
            el: '#app',
            data: {
                title: 'Cambiar',
                mobile: '',
                varicode: '',
                params: {},
                message: 'Enviar Código de autenticación',
                time: 90,
            },
            methods: {
                sendVaricode: function(type) {
                    if (!$util.variMobile(this.mobile)) {
                        $util.toast('Por favor,escriba el número correcto')
                        return;
                    }
                    var that = this;
                    if (this.time == 90) {
                        this.time--;
                        $util.ajax({
                            url: 'api_systems/helper/send_code',
                            data: {
                                mobile: that.mobile,
                                type: type
                            }
                        }).then(function(resp) {
                            $util.toast(resp.msg)
                            that.sendclick();
                        }).catch(function(err) {
                            that.time = 90;
                        })
                    }
                },
                sendclick: function() {
                    var that = this
                    if (this.time == 0) {
                        this.message = 'Enviar Código de autenticación'
                        this.time = 90;
                    } else {
                        this.time--
                            this.message = 'Enviado' + that.time
                        setTimeout(function() {
                            that.sendclick();
                        }, 1000);
                    }
                },
                doBind: function() {
                    if (typeof lastSubmitTime === 'undefined') {
                        lastSubmitTime = Date.now();
                    } else if (Date.now() - lastSubmitTime < 2000) {
                        lastSubmitTime = Date.now()
                        return;
                    }
                    if(!this.mobile){
                        $util.toast('Por favor,introduzca el número correcto')
                        return
                    }
                    // if(!this.varicode){
                    //     $util.toast('Introduzca el Código de verificación correcto')
                    //     return
                    // }
                    $util.ajax({
                        url: 'api_users/user_accounts/change_mobile',
                        data: {
                            old_mobile: $util.user.mobile,
                            new_mobile: this.mobile,
                            //new_code: this.varicode,
                        },
                        isLoading: true,
                    }).then(function(resp){
                        $util.toast(resp.msg);
                        $api.clearStorage();
                        setTimeout(function() {
                            api.closeToWin({
                                name: 'root'
                            });
                        }, 500)
                    })
                },
                getParams: function() {
                    var that = this
                    $util.ajax({
                        url: 'api_systems/Params/getParams',
                        data: {
                            type: "basic",
                        }
                    }).then(function(resp) {
                        resp.data.wap_login_logo = resp.data.wap_login_logo
                        that.params = resp.data
                    }).catch(function(err) {})
                }
            },
            mounted: function(){
                this.getParams()
            }
        });
    };
</script>

</html>
