<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-flex.css" />
    <link rel="stylesheet" type="text/css" href="../ali_icon/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../ali_icon/ali_icon_fu/iconfont.css" />

</head>
<style>
    .open-wallet {
        display: flex;
        align-items: center;
        border-bottom: 0.025rem solid #eee;
    }
</style>
<body>
    <div id="minirefresh" class="minirefresh-wrap">
        <div class="minirefresh-scroll">
  <div id="app" style="height: 26rem;background-color:#fff;">
      <div class="area aui-text-center">
          <div class="open-wallet">
              <input :type="typeValue" class="input" oninput = "value=value.replace(/[^\d]/g,'')" placeholder="Establezca la contraseña de pago" v-model="paypassword" style="margin-left: 1.2rem">
              <i class="iconfont icon-yanjing_yincang" v-if="passwordFlag" style="color: #bbbbbb;font-size: 20px;margin-right: 1rem" @click="showOrHidePassword"></i>
              <i class="iconfont icon-yanjing_xianshi" v-if="!passwordFlag" style="color: #bbbbbb;font-size: 20px;margin-right: 1rem" @click="showOrHidePassword"></i>
          </div>
          <div class="submit1" @click="submit" style="background-color: #3fa0f9;margin-top: 2rem">Abrir</div>
      </div>
  </div>
      </div>
    </div>

</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/util.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/fastclick.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);
    apiready = function() {
        $util.fixPage();
        app = new Vue({
          el: '#app',
          data: {
           paypassword: '',
           passwordFlag:true,
           typeValue:'password',
           mobile:'',
          },
          methods: {
            showOrHidePassword:function () {
                if(this.typeValue === 'password'){
                    this.typeValue = 'text'
                }else{
                    this.typeValue = 'password'
                }
                this.passwordFlag =!this.passwordFlag;
            },
            submit:function () {
                if(!this.paypassword){
                    $util.toast("Establezca la contraseña de pago");
                    return;
                }
                if (!$util.variPassword(this.password)) {
                    $util.toast('La combinación de letras y números se limita a 6 a 20 bits');
                    return;
                }
                var data = {
                    mobile: this.mobile,
                    pay_password: this.paypassword,
                    pay_password_confirm:this.paypassword,
                };
                var router = 'api_users/user_accounts/reset_pay_password_first';
                // 第一次设置支付密码
                $util.ajax({
                    url: router,
                    data: data,
                    isLoading: true,
                }).then(function (ret) {
                        if(ret.code === 1){
                            $util.toast(ret.msg);
                            setTimeout(function() {
                                $util.openWindow('home_win');
                            }, 500);
                        }else{
                            $util.toast(ret.msg);
                        }
                    }).catch(function(err) {})
            }
        },
          mounted: function () {
            var that = this;
            $util.ajax({
                url: 'api_users/users/read',
            }).then(function (resp) {
                if(resp.data){
                    that.mobile = resp.data.mobile;
                }
            })
        }
        })
        api.addEventListener({
            name:'viewappear'
        },function(){
            api.closeWin(
              {name: 'home_win'}
            );
        });
    };
</script>

</html>
