<!--
 * @since: 2020-10-24 12:04:02
 * @LastAuthor: Blue
 * @lastTime: 2020-11-06 23:22:10
 * @FilePath: /A6001888506312/html/score_order_detail_frm.html
-->
<!-- 模型frm -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui-flex.css" />
    <link rel="stylesheet" type="text/css" href="../ali_icon/iconfont.css" />
    <style>
        .order-status {
            height: 5rem;
            width: 100%;
            background: linear-gradient(to bottom, #3de5ff, #39bbff, #358dff);
        }

        #order-status {
            background-color: rgba(0, 0, 0, 0);
        }

        .footer-button {
            position: fixed;
            bottom: 0;
            top: auto;
            width: 100%;
            z-index: 100;
        }
    </style>
</head>

<body>
    <div id="minirefresh" class="minirefresh-wrap">
        <div class="minirefresh-scroll">
    <div id="app">
        <!-- 中间页 -->
        <div class="aui-content">
            <!-- 订单状态 -->
            <div class="order-status aui-b aui-bg-info">
                <ul class="aui-list aui-media-list" id="order-status" style="background-image:none;">
                    <li class="aui-list-item" style="background-image:none;">
                        <div class="aui-media-list-item-inner">
                            <div class="aui-list-item-media">
                                <span class="aui-iconfont iconfont aui-text-white" :class="orderStatusIconObject" style="font-size: 2.2rem;"></span>
                            </div>
                            <div class="aui-list-item-inner">
                                <div class="aui-list-item-text aui-text-white aui-font-size-12" style="line-height:2.3rem;">
                                    <h2>{{order | orderStatus}}</h2>
                                </div>
                                <div class="aui-list-item-text aui-text-white">
                                    <h3 class="aui-font-size-14">{{order | orderStatusSecond}}</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 收货地址 -->
            <ul class="aui-list aui-media-list aui-margin-t-5" style="background-image:none;">
                <li class="aui-list-item" style="background-image:none;">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-label-icon">
                            <i class="aui-iconfont iconfont icon-dizhi1 aui-font-size-20 aui-text-info"></i>
                        </div>
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-text">
                                <div class="aui-list-item-title aui-font-weight" v-text="order.province + ' ' + order.city + ' ' + order.area + ' '+ order.address"></div>
                            </div>
                            <div class="aui-info aui-margin-t-10" style="padding:0">
                                <div class="aui-info-item">
                                    <span v-text="order.consignee_name"></span>
                                </div>
                                <div class="aui-info-item" v-text="order.mobile"></div>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
            <div class=" aui-padded-l-5 aui-padded-r-5 aui-margin-t-5 aui-bg-white">
                <!-- 订单时间和状态 -->
                <div class="aui-padded-5 aui-font-size-12">
                    <span v-text="order.create_time"></span>
                    <span class="aui-pull-right aui-text-info">{{order | orderStatus}}</span>
                </div>
                <!-- 商品列表 -->
                <ul class="aui-list aui-media-list" style="background-image:none;">
                    <li class="aui-list-item aui-margin-b-5 aui-bg-default" v-for="(goods,index) in order.order_goods_info" :key="index" style="background-image:none;">
                        <div class="aui-media-list-item-inner">
                            <!-- 商品缩略图 -->
                            <div class="aui-list-item-media">
                                <img :src="goods.thum">
                            </div>
                            <div class="aui-list-item-inner">
                                <!-- 商品名称 -->
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title aui-ellipsis-2 aui-font-size-14" style="width:70%;" v-text="goods.name"></div>
                                </div>
                                <!-- 规格加数量 -->
                                <div class="aui-list-item-text aui-text-pray aui-margin-t-5">
                                    <div class="aui-list-item-title aui-font-size-12 aui-text-pray" style="width:70%;">
                                        <span  v-text="'Integral: '+ goods.score_price"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="aui-list aui-list-in">
                    <!-- <li class="aui-list-item">
            <div class="aui-list-item-inner">
              <div class="aui-list-item-title aui-font-size-14">运费</div>
              <div class="aui-list-item-right" v-text="'$' + order.freight_money"></div>
            </div>
          </li> -->
                    <!-- <li class="aui-list-item" v-if="order.market_activity_id != 0">
            <div class="aui-list-item-inner">
              <div class="aui-list-item-title aui-font-size-14">活动优惠</div>
              <div class="aui-list-item-right" v-text="'$' + order.market_reduce_money"></div>
            </div>
          </li> -->
                    <li class="aui-list-item" v-if="order.market_activity_id != 0">
                      <div class="aui-list-item-inner">
                      <div class="aui-list-item-title aui-font-size-14">Total {{order.order_goods_info.length}} Productos Básicos </div>
                      <div class="aui-list-item-right aui-text-price">
                        <span class="aui-font-size-12">Total Integral:</span>
                        <span class="aui-font-size-16" v-text="order.total_score"></span>
                      </div>
                    </div>
                    </li>
                </ul>
            </div>
            <!-- 时间信息 -->
            <div class="aui-padded-10 aui-bg-white aui-margin-t-5" style="padding-bottom: 1.8rem !important;">
                <h5 class="aui-padded-t-5 aui-font-size-12" v-text="'Número de pedido: ' + order.order_no"></h5>
                <h5 class="aui-padded-t-5 aui-font-size-12" v-text="'Tiempo de creación: ' + order.create_time"></h5>
                <h5 class="aui-padded-t-5 aui-font-size-12" v-if="order.pay_time" v-text="'Tiempo de pago: ' + order.pay_time"></h5>
                <h5 class="aui-padded-t-5 aui-font-size-12" v-if="order.deliver_time" v-text="'Tiempo de entrega: ' + order.deliver_time"></h5>
                <h5 class="aui-padded-t-5 aui-font-size-12" v-if="order.finish_time" v-text="'Tiempo de recepción confirmado: ' + order.finish_time"></h5>
                <h5 class="aui-padded-t-5 aui-font-size-12" v-if="order.cancel_time" v-text="'Tiempo de cancelación: ' + order.cancel_time"></h5>
                <h5 class="aui-padded-t-5 aui-font-size-12" v-if="order.apply_return_time" v-text="'Solicitud de reembolso: ' + order.apply_return_time"></h5>
                <h5 class="aui-padded-t-5 aui-font-size-12" v-if="order.return_time" v-text="'Plazo de aceptación/rechazo del reembolso: ' + order.return_time"></h5>
            </div>
            <div class="footer-button aui-padded-l-10 aui-padded-r-10">
                <div class="order-buttons aui-padded-b-5 ">
                    <!-- <div class="button active " @click.stop="pay(order) " v-if="order.status==1 ">立即付款</div> -->
                    <!-- <div class="button " @click.stop="cancel(order) " v-if="order.status==1 ">取消订单</div> -->
                    <div class="button " @click.stop="remind(order) " v-if="order.status==1">Enviar un recordatorio</div>
                    <div class="button active " @click.stop="finish(order) " v-if="order.status==2">Confirmen la recepción</div>
                    <div class="button " @click.stop="goLogistics(order) " v-if="order.status==2 || order.status==3 ">Logística</div>
                </div>
            </div>
        </div>
      </div>
    </div>

</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/util.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/fastclick.js"></script>
<script type="text/javascript">
    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);
    var app = {}
    apiready = function() {
        $util.fixPage();
        app = new Vue({
            el: '#app',
            data: {
                order: {
                    create_time: '',
                    order_goods_info: [],
                    status: '',
                    total_money: '',
                    freight_money: '',
                    address: '',
                    order_no: '',
                    province: '',
                    city: '',
                    area: ''
                },
                expressInfo: {
                    data: []
                }
            },
            computed: {
                orderStatusIconObject: function() {
                    if (this.order.status == 1) {
                        return {
                            'icon-daifukuan': true
                        };
                    } else if (this.order.status == 2) {
                        return {
                            'icon-daifahuo': true
                        };
                    } else if (this.order.status == 3) {
                        return {
                            'icon-yifahuo': true
                        };
                    } else if (this.order.status == 4 || this.order.status == 9) {
                        return {
                            'icon-iconwxz': true
                        };
                    }
                }
            },
            filters: {
                orderStatus: function(order) {
                    var str = '';
                    if (order.status == 1) {
                        str += 'Esperando el pago';
                    } else if (order.status == 2) {
                        str += 'Esperando la entrega';
                    } else if (order.status == 3) {
                        str += 'Mercancías entregadas';
                    } else if (order.status == 4) {
                        str += 'Trato hecho';
                    } else if (order.status == 9) {
                        str += 'Orden cancelada';
                    }
                    return str;
                },
                orderStatusSecond: function(order) {
                    if (order.return_status == 1) {
                        return '';
                    } else if (order.return_status == 2) {
                        return '';
                    } else if (order.return_status == 3) {

                    } else if (order.return_status == 0) {
                        if (order.status == 1) {
                            return '';
                        } else if (order.status == 2) {
                            return '';
                        } else if (order.status == 3) {
                            return '';
                        } else if (order.status == 4 || order.status == 9) {
                            return '';
                        }
                    }
                }
            },
            methods: {
                //查看物流
                goLogistics: function() {
                    $util.openWindow('logistics_win', {
                        order: this.order
                    });
                },
                getOrder: function() {
                    var that = this
                    $util.ajax({
                        url: 'api_score_shop/score_orders/lists',
                        data: {
                            id: api.pageParam.id
                        },
                        isLoading: true,
                    }).then(function(resp) {
                        that.order = resp.data[0];
                    }).catch(function(err) {})
                },
                //提醒发货
                remind: function() {
                    $util.ajax({
                        url: 'api_score_shop/tip_deliver/tip',
                        data: {
                            order_id: this.order.id
                        },
                        isLoading: true,
                    }).then(function(resp) {
                        $util.toast(resp.msg)
                    }).catch(function(err) {})
                },
                // 确认收货
                finish: function() {
                    var that = this
                    api.confirm({
                        title: 'Confirmen la recepción?',
                        buttons: ['Confirmar', 'Cancelar']
                    }, function(ret, err) {
                        if (ret.buttonIndex == 1) {
                            $util.ajax({
                                url: 'api_score_shop/sign_orders/user_sign',
                                data: {
                                    order_id: that.order.id
                                },
                                isLoading: true,
                            }).then(function(resp) {
                                that.getOrder()
                            }).catch(function(err) {})
                        }
                    });
                },
            },
            mounted: function() {
                this.getOrder();
            }
        });
        api.setRefreshHeaderInfo({
            bgColor: '#fff',
        }, function(ret, err) {
            app.getOrder()
        });api.addEventListener({
            name: 'setRefreshHeaderInfo',
        }, function(ret, err) {
            app.getOrder()
        });

    };
</script>

</html>
