.container {
  opacity: 1;
}

.wallet_li {
  width: 94%;
  border-radius: 10px;
  background-color: #fafafa;
  overflow: hidden;
  padding: 0.5rem;
  margin: 0.5rem auto;

  :global {
    .wallet-text {
      overflow: hidden;
      background: #fafafa;
    }

    .wallet-text-left {
      float: left;
    }

    .wallet-text-right {
      float: right;
    }

    .text-one {
      margin: 0.5rem 0;
    }

    .text-two {
      color: #a4a4a4;
    }
  }
}
.controlBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.commentLike,
.icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ccc;
}
